#pgBody{
    background-color: lightgoldenrodyellow;
}

.headDiv{
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: blueviolet;
    margin: 10px;
}
.card-body{
    background-color:violet;
    color: white;
}
.new-card{
    background-color: palevioletred;
}